-i https://pypi.org/simple/
asgiref==3.2.10
configparser==5.0.0
django-jsonify==0.3.0
django-leaflet==0.27.1
django==3.1.8
jsonify==0.5
mysql-connector==2.2.9
numpy==1.19.1
pandas==1.1.0
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
